/*background-color-header-page:
    background-color-header-and-images-list: #FFFFFF;
    background-hero-footer: #2F303A;
    general-background-page: #E5E5E5;
    background-section3-comand: #F5F4FA;
*/

/* font-family: 'Raleway', sans-serif;
   font-family: 'Roboto', sans-serif; 

Text-logo:
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;

Text-H1
*/

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --contact-text-color: rgba(255, 255, 255, 0.6);
    --background-hero-footer: #2F303A;
    --general-background-page: #E5E5E5;
    --background-section-comand: #F5F4FA;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}
/* Logo */
.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-accent {
    color: var(--accent-color);
}
/* site-nav */
.site-nav .link {
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
        letter-spacing: 0.02em;
} 
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contact .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
} 
.contact .link:hover,
.contact .link:focus {
color: var(--accent-color);
}



.link{

}
/*section1-hero */
.hero,
footer {
    background-color: var(--background-hero-footer);
}
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
.hero .button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none;
     
}
/*section2-feature */
.feature-list .title {
    color: var(--title-text-color);
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}


.section{

}

.section-title{

}
.section-comand{

}

.list-portfolio{

}
.title-portfolio{
    
}
