/*background-color-header-page:
    background-color-header-and-images-list: #FFFFFF;
    background-hero-footer: #2F303A;
    general-background-page: #E5E5E5;
    background-section3-comand: #F5F4FA;
*/
