/*background-color-header-page:
    background-color-header-and-images-list: #FFFFFF;
    background-hero-footer: #2F303A;
    general-background-page: #E5E5E5;
    background-section3-comand: #F5F4FA;
*/

/* font-family: 'Raleway', sans-serif;
   font-family: 'Roboto', sans-serif; 

Text-logo:
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;

Text-H1
*/

.root{
    --primary-text-color: #757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color: #ffffff;
    --contact-text-color: rgba(255, 255, 255, 0.6);
    --background-hero-footer: #2F303A;
    --general-background-page: #E5E5E5;
    --background-section-comand: #F5F4FA;
    

}

.logo{

}
.logo-accent{

}
.site-nav{

} 
.list{

}
.contact{

}
.link{

}

.hero{

}
.hero-title{

}

.section{

}

.section-title{

}
.section-comand{

}

.list-portfolio{

}
.title-portfolio{
    
}
